<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="./styles/shortcuts.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<nav>
  <div class="nav-wrapper red">
    <a href="" class="brand-logo">BootCamp Shortcuts</a>
  </div>
</nav>

<br/>
<br/>

<section class="container">
  <div class="col s12 15 offset-12">
    <form action="">
      <div class="input-field">
        <input type="text" id="logIn">
        <label for="logIn"> Log In </label>
      </div>
      <div class="input-field">
        <textarea id="password" class="materialize-textarea"></textarea>
        <label for="password"> Password </label>
      </div>
    </form>
  </div>

  <br/>
  <br/>

  <button id="logInButton"  class="btn btn-large red white-text right-align"> Sign In </button>
  <button id="createAccount" class="btn btn-large red white-text right-align"> Create Account </button>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/shortcuts.js"></script>

</body>

</html>
