<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="./styles/sample-style.css">
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        header{
            background: url()
            background-size: cover,
            background-position: center,
            min-height: 900px
        }
     </style>
    
    </head>


    <body>

    <!-- Nav Bar -->

    <nav>
        <div class="nav-wrapper red">
            <a href="" class="brand-logo">BootCamp Shortcuts</a>
        </div>
    </nav>

    

</br>
</br>   
    <!-- End Nav Bar -->
 
<section class="container">
 <div class="col s12 15 offset-12">
     <form action="">
         <div class="input-field">
             <input type="text" id="logIn">
             <label for="logIn"> Log In </label>
         </div>
         <div class="input-field">
             <textarea id="password" class="materialize-textarea"></textarea>
             <label for="password"> Password </label>
         </div>
     </form>
 </div>   
</section>

</br>
</br>

    <button id="logInButton"  class="btn btn-large red white-text right-align"> Sign In </button>
    <button id="createAccount" class="btn btn-large red white-text right-align"> Create Account </button>


</br>
</br>
<!-- End of Sign Up -->



      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="./js/index.js"></script>             

    </body>
  
    </html>
