<nav>
    <div class="nav-wrapper red">
        <a href="" class="brand-logo center">BootCamp Shortcuts</a>
        <div class="chip">{{{userName}}}</div>
    </div>
</nav>
<br>

<section class="container">
<div class="row">
  <div class="col s12">
    <ul class="collapsible">
      {{#each projects}}
        <li>
          <div class="collapsible-header">
            <i class="material-icons">code</i>
            <a href="#" data-projectId="{{this.id}}" class="loadProject">{{this.title}}</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="projectName" type="text" class="validate">
        <label for="projectName">New Project</label>
      </div>
      <div class="col s6">
        <button id="createProject" class="btn btn-large red white-text right-align"> Create Project </button>
      </div>
    </div>
  </form>
</div>
</section>
